@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
/* blue shade#98adf5*/
font-family: "Montserrat", sans-serif;

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
.container-fluid {
  background-color: #f5f5f5;
}
p {
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: #6f3b26;
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: #6f3b26;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
h4 {
  font-family: "Montserrat", sans-serif;
}
h5 {
  color: #6f3b26;
  font-family: "Montserrat", sans-serif;
}
.nav {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px !important;
  background-color: #e4d1b4;
}
.nav_link {
  color: #f5f5f5;
  text-decoration: none;
  margin-right: 4rem;
  margin-left: 4rem;
  font-size: 22px;
}
.nav a {
  color: #6f3b26;
}
.nav a:hover {
  color: #f5f5f5;
}
@media screen and (max-width: 1149px) {
  .nav_link {
    display: none;
  }
}
@media screen and (max-width: 1149px) {
  .image {
    padding-top: 30px;
  }
}
@media screen and (max-width: 800px) {
  .image {
    padding-top: 50px;
  }
}

.wrapper {
  display: flex !important;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.icon {
  cursor: pointer;
}
.icon:hover {
  opacity: 0.3;
}

.imgTitle {
  font-weight: 900;
}

.heading {
  background-color: #e4d1b4;
}
.contact_page {
  background-color: #f5f5f5;
}
.contact_header {
  background-color: #e4d1b4;
}

.contact_info {
  display: flex;
  flex-direction: column;
}
.contact_text {
  font-size: 24px;
}

.aboutme_header {
  background-color: #e4d1b4;
}
@media screen and (min-width: 1200px) {
  .aboutme_info {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media screen and (max-width: 768px) {
  .aboutme_info {
    font-size: 12px;
  }
}

.footer {
  background-color: #e4d1b4;
  display: flex;
  justify-content: center;
}
.footer_footer {
  background-color: #512717;
  color: #e4d1b4;
}
.header_text {
  font-size: 2em;
}

.insta_footer {
  padding-right: 5px;
}

.error_page {
  background-color: #f5f5f5;
  height: 100vh;
}
.slick-slide div {
  outline: none;
}

.wrapper {
  outline: none;
}

*:focus {
  outline: 0;
  outline: none;
}

@media screen and (min-width: 992px) {
  .menu_item {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .menu_item {
    width: 100px;
  }
}
@media screen and (min-device-width: 601px) and (max-device-width: 1200px) {
  .menu_item {
    width: 200px;
  }
}

@media screen and (min-device-width: 1px) and (max-device-width: 389px) {
  .menu_item {
    width: 75px;
  }
}
